<h1>dashboard</h1>
<p>German: {{searchedWord}} </p>
<p>English: {{translatedWord}} </p>
<p>German sentence example: {{gerSentence}} </p>
<p>English sentence example: {{engSentence}} </p>
<p>IPA: {{ipaWord}} </p>
<a href="/">Logout</a>