<h1>Results</h1>
{{!-- <form action="/word-search" method="GET">
  <label for="wordInput">Search a word:</label><br>
  <input type="text" id="wordInput" name="wordInput"><br>
  <button type="submit">Search</button>
</form> --}}


<p>German: {{searchedWord}} </p>
<p>English: {{translatedWord}} </p>
<p>German sentence example: {{gerSentence}} </p>
<p>English sentence example: {{engSentence}} </p>
<p>IPA: {{ipaWord}} </p>
<a href="/">Logout</a>